body {
    background: linear-gradient(to bottom, rgba(55, 65, 81, 1),
            rgba(17, 24, 39, 1));
    font-family: Roboto;
    font-weight: 400;
    margin: 0;
}

nav {
    padding: 72px 180px;
    max-width: 1440px;
    margin: 0 auto;
    /* margin-bottom: 73px; */
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 77px;
    align-items: center;
}

ul {
    list-style-type: none;

}

.search {
    margin-left: auto;
}

ul a {
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
}

ul input {
    background-color: rgba(31, 41, 55, 0.6);
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-decoration: none;
    border-radius: 100px;
    height: 40px;
    width: 204px;
    border: none;
    padding: 0 10px;
    border: none;
    padding-left: 30px;
}


input::placeholder {
    font-family: Roboto;
    font-size: 16px;
    line-height: 100%;
    /* color: #FFFFFF; */
}

input:focus {
    outline: none;
}

section {
    max-width: 1440px;
    margin: 0 auto;

}

.logo {
    background-color: #4B5563;
    width: 17px;
    height: 23px;
    border-radius: 3px;
    padding: 8px 5px 4px 13px;
    margin-right: -60px;
}

.time {
    font-size: 14px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dot {
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    vertical-align: middle;
    height: 4px;
    width: 4px;
    border-radius: 50%;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    margin: 0 0 30px;
    text-align: center;
}

.nameAuthor {
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px;
}

.job {
    font-size: 14px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.6);
}

.author {
    margin: 0 0 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px 10px;
    align-items: center;
}

.firstParagraph {
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0 0 30px;
}

.secondParagraph {
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 0 30px;
}

.thirdParagraph {
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 0 103px;
}

.custom-underline {
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

footer {
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.6);
    padding: 0;
    max-width: 1440px;
    margin: 0 auto 77px;
}

footer p {
    max-width: 1440px;
    text-align: center;
}

.img {
    max-width: 894px;
    display: block;
    margin: 0 auto;
    margin-bottom: 69px;
}

p {
    max-width: 800px;
    padding: 0 350px;
    text-align: left;
}

ul {
    position: relative;
}

.lupa {
    position: absolute;
    top: 13px;
    right: 296px;
}